.projects-container {
	margin-block: 2rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	gap: 1.5rem;
}

// Project Template
.project {
	background-color: var(--clr-secondary);
	border: 3px solid var(--clr-secondary);
	border-radius: 0.75rem;

	.project-links {
		@include flex($justify: stretch, $align: stretch, $gap: 0.5rem);
		padding: 0.5rem 0.5rem 0.75rem 0.5rem;
	}

	.project-text {
		padding-inline: 0.75rem;
		padding-block: 1rem;

		.project-title {
			margin-bottom: 0.25rem;
		}

		.project-stack {
			margin-bottom: 0.75rem;
		}
	}
}
