/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@300;400;600&display=swap');

/* Variables */
:root {
	--clr-light: hsl(54, 54%, 95%);
	--clr-dark: hsl(346, 15%, 15%);
	--clr-primary: hsl(37, 85%, 60%);
	--clr-secondary: hsl(125, 31%, 85%);

	--clr-navbg-nums: 54, 54%, 95%;

	--background: var(--clr-light);
	--foreground: var(--clr-dark);
}

.darkmode {
	--clr-light: hsl(76, 60%, 79%);
	--clr-dark: hsl(120, 2%, 10%);
	--clr-primary: hsl(110, 45%, 43%);
	--clr-secondary: hsl(132, 46%, 22%);

	--clr-navbg-nums: 120, 2%, 10%;

	--background: var(--clr-dark);
	--foreground: var(--clr-light);
}

.darkmode .brighten {
	filter: invert(100%);
}

/* Resets */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
	display: block;
}

button {
	cursor: pointer;
	border: none;
}

/* Remove animations */
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

body {
	font-family: 'Gantari', sans-serif;
	background-color: var(--background);
	color: var(--foreground);

	overflow-x: hidden;
}

/* Utilities */
.container {
	max-width: 81.25rem;
	margin-inline: auto;
	padding-inline: 1.5rem;
}

/* Navigation */
.primary-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
	position: sticky;
	top: 0;
}

.logo {
	width: min(50vw, 6.25rem);
}

.nav-list {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.nav-toggle {
	display: none;
}

.nav-item {
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.5rem;
	position: relative;
}

.nav-item a {
	padding: 5px;
}

.nav-item a:focus-visible {
	outline: 2px solid var(--foreground);
}

.nav-item a:active {
	background-color: var(--foreground);
	color: var(--background);
}

/* Socials Bar */
.socials-bar {
	display: block;
	position: fixed;
	bottom: 4rem;
	left: 3rem;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
}

.socials-heading {
	text-transform: uppercase;
	font-size: 1.5rem;
	letter-spacing: 10px;
	transform: rotate(-90deg);
	margin-top: 2.5rem;
}

.socials-item {
	padding-block: 0.5rem;
}

.socials-icon {
	width: 2rem;
	height: 2rem;
	transition: all 0.3s ease;
}

.socials-item a:focus {
	outline: 0;
}

.socials-item a:hover .socials-icon,
.socials-item a:focus .socials-icon {
	fill: var(--clr-primary);
}

/* MEDIA QUERIES */

/* Hover states on only devices that can hover */
@media (hover: hover) {
	.nav-item::after {
		content: '';
		position: absolute;
		bottom: -0.5rem;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: var(--foreground);
		border-radius: 10px;
		transform-origin: right;
		transform: scaleX(0);
		transition: transform 0.3s ease-out;
	}

	.nav-item:hover::after {
		transform-origin: left;
		transform: scaleX(1);
	}
}

/* Small Screen */
@media (max-width: 40em) {
	/* Navigation */
	.primary-header {
		padding-inline: 1rem;
	}

	.primary-nav {
		position: fixed;
		z-index: 1000;
		inset: 0 0 0 20%;
		background-color: var(--clr-secondary);
		padding: min(25vh, 8rem) 1.5rem;

		transform: translateX(100%);
		transition: transform 0.3s ease;
	}

	.primary-nav.visible {
		transform: translateX(0%);
	}

	.nav-list {
		flex-direction: column;
	}

	.nav-toggle {
		display: block;
		position: absolute;
		width: 2rem;
		aspect-ratio: 1;
		z-index: 9999;
		top: 2rem;
		right: 1.5rem;
		background-color: transparent;
		transition: transform 0.3s ease;
	}

	.nav-toggle.flip {
		transform: rotate(180deg);
	}
}

/* Medium Screen */
@media (max-width: 64em) {
	.socials-bar {
		display: none;
	}
}
