/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@300;400;600&display=swap');

/* Resets */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
	display: block;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

body {
	font-family: 'Gantari', sans-serif;
}

/* Navigation */
.primary-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
	position: sticky;
	top: 0;
}

.logo {
	width: min(50vw, 6.25rem);
}

.nav-list {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.nav-item {
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.5rem;
	position: relative;
}

.nav-item a {
	padding: 5px;
}

.nav-item::after {
	content: '';
	position: absolute;
	bottom: -0.5rem;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: hsl(0, 0%, 0%);
	border-radius: 10px;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.3s ease-out;
}

.nav-item:hover::after {
	transform-origin: left;
	transform: scaleX(1);
}

.nav-item a:focus-visible {
	outline: 2px solid hsl(0, 0%, 0%);
}

.nav-item a:active {
	background-color: hsl(0, 0%, 0%);
	color: hsl(0, 0%, 100%);
}
