/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@300;400;600&display=swap');

/* Variables */
:root {
	--clr-light: hsl(54, 54%, 95%);
	--clr-dark: hsl(346, 15%, 15%);
	--clr-primary: hsl(37, 85%, 60%);
	--clr-secondary: hsl(125, 31%, 85%);

	--clr-navbg-nums: 54, 54%, 95%;

	--background: var(--clr-light);
	--foreground: var(--clr-dark);
}

.darkmode {
	--clr-light: hsl(76, 60%, 79%);
	--clr-dark: hsl(120, 2%, 10%);
	--clr-primary: hsl(200, 45%, 43%);
	--clr-secondary: hsl(132, 46%, 22%);

	--clr-navbg-nums: 120, 2%, 10%;

	--background: var(--clr-dark);
	--foreground: var(--clr-light);
}

.darkmode .brighten {
	filter: invert(100%);
}

/* Resets */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: var(--scroll-padding, 100px);
}

ul {
	list-style: none;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
	display: block;
}

button {
	cursor: pointer;
	border: none;
}

/* Remove animations */
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

body {
	font-family: 'Gantari', sans-serif;
	background-color: var(--background);
	color: var(--foreground);
	line-height: 1.5;

	overflow-x: hidden;
}

/* Utilities */
.container {
	max-width: 81.25rem;
	margin-inline: auto;
	padding-inline: 2rem;
}

.bold {
	font-weight: 600;
}

.btn {
	font-size: 1.25rem;
	font-weight: 600;
	padding-block: 0.75rem;
	padding-inline: 1rem;
	background-color: var(--clr-secondary);
	color: var(--foreground);
	border-radius: 5px;
	transition: all 0.3s ease;
}

.btn:hover {
	background-color: var(--foreground);
	color: var(--clr-secondary);
}

.btn:focus-visible {
	outline: 2px solid var(--foreground);
}

.section-heading {
	display: inline-block;
	font-size: 2.5rem;
	font-weight: 600;
	padding: 0.5rem;
	background-image: linear-gradient(
		120deg,
		var(--clr-secondary) 0%,
		var(--clr-primary) 100%
	);
	background-repeat: no-repeat;
	background-size: 100% 0.5rem;
	background-position: 0 90%;
	transition: background-size 0.3s ease;
}

.section-heading:hover {
	background-size: 100% 100%;
}

/* Navigation */
.primary-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
	position: sticky;
	top: 0;
	background-color: var(--background);
}

.logo {
	width: min(50vw, 6.25rem);
}

.primary-nav {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.nav-list {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.nav-toggle {
	display: none;
}

.nav-item {
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.5rem;
	position: relative;
}

.nav-item a {
	padding: 5px;
}

.nav-item a:focus-visible,
.mode-toggle:focus-visible {
	outline: 2px solid var(--foreground);
}

.nav-item a:active {
	background-color: var(--foreground);
	color: var(--background);
}

/* Light/Dark Mode Toggle */
.mode-toggle {
	background: transparent;
	height: 1.5rem;
	width: 1.5rem;
}

/* CONTACT SECTION */
.contact {
	padding-block: 3rem;
}

.contact-item {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 300;
	gap: 1.5rem;
	font-size: clamp(1rem, 5vw, 2rem);
	margin-top: 2rem;
}

.contact-icon {
	width: 1.75rem;
	height: 1.75rem;
	flex-shrink: 0;
}

/* Socials Bar */
.socials-bar {
	display: block;
	position: fixed;
	bottom: 4rem;
	left: 3rem;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
}

.socials-heading {
	text-transform: uppercase;
	font-size: 1.5rem;
	letter-spacing: 10px;
	transform: rotate(-90deg);
	margin-top: 2.5rem;
}

.socials-item {
	padding-block: 0.5rem;
}

.socials-icon {
	width: 2rem;
	height: 2rem;
	fill: var(--foreground);
	transition: all 0.3s ease;
}

.socials-item a:focus {
	outline: 0;
}

.socials-item a:hover .socials-icon,
.socials-item a:focus .socials-icon {
	fill: var(--clr-primary);
}

/* HERO */
.hero {
	padding-block: 3rem;
}

.hero-text {
	font-size: clamp(2rem, 10vw, 5rem);
	font-weight: 300;
}

.lead {
	font-size: 1.5rem;
	margin-top: 1rem;
	line-height: 1.7;
	max-width: 40ch;
}

.technologies {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 3rem;
}

.technology svg {
	fill: var(--foreground);
}

/* PROJECTS */
.projects-container {
	margin-block: 2rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	gap: 1.5rem;
}

.project {
	background-color: var(--clr-secondary);
	border: 3px solid var(--clr-secondary);
	border-radius: 0.75rem;
}

.project-links {
	display: flex;
	gap: 0.5rem;
	padding: 0.5rem 0.5rem 0.75rem 0.5rem;
}

.project-text {
	padding-inline: 0.75rem;
	padding-block: 1rem;
}

.project-title {
	font-size: 1.6rem;
	line-height: 1.2;
	font-weight: 600;
	margin-bottom: 0.25rem;
}

.project-stack {
	font-weight: 300;
	margin-bottom: 0.75rem;
	letter-spacing: 1px;
}

.project-desc {
	font-size: 1.15rem;
}

.project-btn {
	font-size: 0.85rem;
	font-weight: 600;
	padding-block: 0.25rem;
	padding-inline: 0.75rem;
	border: 2px solid var(--foreground);
	border-radius: 2rem;
	transition: all 0.3s ease;
}

.project-btn:hover {
	background-color: var(--foreground);
	color: var(--clr-secondary);
}

.project-btn:focus-visible {
	outline: 3px solid var(--clr-primary);
}

/* FOOTER */
.footer {
	margin-top: 5rem;
	text-align: center;
	padding-block: 1rem;
}

.footer-social-list {
	display: none;
}

/* MEDIA QUERIES */

/* Hover states on only devices that can hover */
@media (hover: hover) {
	.nav-item::after {
		content: '';
		position: absolute;
		bottom: -0.5rem;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: var(--foreground);
		border-radius: 10px;
		transform-origin: right;
		transform: scaleX(0);
		transition: transform 0.3s ease-out;
	}

	.nav-item:hover::after {
		transform-origin: left;
		transform: scaleX(1);
	}
}

/* Small Screen */
@media (max-width: 40em) {
	/* Navigation */
	.primary-header {
		padding-inline: 1rem;
	}

	.primary-nav {
		position: fixed;
		z-index: 999;
		inset: 0 0 0 20%;
		background-color: var(--clr-secondary);
		padding: min(25vh, 8rem) 1.5rem;

		transform: translateX(100%);
		transition: transform 0.3s ease;
	}

	.primary-nav.visible {
		transform: translateX(0%);
	}

	.nav-list,
	.primary-nav {
		flex-direction: column;
	}

	.nav-toggle {
		display: block;
		position: absolute;
		z-index: 1000;
		width: 2rem;
		aspect-ratio: 1;
		top: 2rem;
		right: 1.5rem;
		background-color: transparent;
		transition: transform 0.3s ease;
	}

	.nav-toggle.flip {
		transform: rotate(180deg);
	}

	.technology svg {
		width: 4rem;
		height: 4rem;
	}
}

/* Medium Screen */
@media (max-width: 64em) {
	.hero {
		text-align: center;
	}

	.technologies {
		justify-content: center;
	}

	.lead {
		margin-inline: auto;
	}
}

/* Large Screen */
@media (max-width: 100em) {
	.socials-bar {
		display: none;
	}

	.footer-social-list {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		margin-bottom: 1rem;
	}

	.footer .socials-item {
		padding-block: 0;
	}
}
