/* Resets */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: var(--scroll-padding, 100px);
}

ul {
	list-style: none;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
	display: block;
}

button {
	cursor: pointer;
	border: none;
}

/* Remove animations */
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
